<h2>Thanks for submitting!</h2>

<p>Thanks for submitting the participant agreement as an entity. Here is the data we have recorded for you:

<h3>Public Data</h3>

<pre>{{publicData}}</pre>

<p>This public data is accessible in the <a href="https://github.com/{{publicDataRepo}}">{{publicDataRepo}}</a> GitHub repository, and will allow Editors to verify that GitHub users associated with your entity can contribute to the specified workstreams.

<p>If you need to edit this public data in the future, please submit a pull request (from a GitHub account authorized to make contributions on behalf of {{entityName}}) to <a href="https://github.com/{{publicDataRepo}}">{{publicDataRepo}}</a>.

<p>Note that for now your submission is marked as unverified. The first time a contributor associated with {{entityName}} submits a pull request to a standard, the editor will be responsible for verifying that your submission is accurate and representative. After that, future pull requests to the workstreams you chose to participate in will be automatically marked as approved.

<h3>Contributor Management</h3>

<p>Contributions from GitHub users which are publicly associated with the <a href="https://github.com/{{organizationName}}">{{organizationName}} GitHub organization</a> will be able to contribute on behalf of {{entityName}}.

<p>Note that contributors will need to publicly display their affiliation with the {{organizationName}} organization. For more information on how to do this, see the GitHub help article, "<a href="https://help.github.com/articles/publicizing-or-hiding-organization-membership/">Publicizing or hiding organization membership</a>".
