<p>Thanks for submitting the participant agreement as an individual. Here is the data we have recorded for you:

<h3>Public</h3>

<pre>{{publicData}}</pre>

<p>This public data is accessible in the <a href="https://github.com/{{publicDataRepo}}">{{publicDataRepo}}</a> GitHub repository, and will allow Editors to verify that you can contribute to the specified workstreams.

<p>If you need to edit this public data in the future, please submit a pull request (from the @{{gitHubID}} GitHub account) to <a href="https://github.com/{{publicDataRepo}}">{{publicDataRepo}}</a>.

<p>Note that for now your submission is marked as unverified. The first time you submit a pull request to a standard, the editor will be responsible for verifying that your submission is accurate and representative. After that, future pull requests to the workstreams you chose to participate in will be automatically marked as approved.

<h3>Private</h3>

<pre>{{privateData}}</pre>

<p>This private data is only accessible to the Steering Group, and is kept for our records.

<p>If you need to edit this private data in the future, please contact the Steering Group by email: <a href="mailto:{{steeringGroupEmail}}">{{steeringGroupEmail}}</a>.
